[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npm run dev"

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin"
    Cross-Origin-Embedder-Policy = "require-corp"
